<nav class="row">
    <ul class="filter-container nav navbar-nav">

        <li class="filter-element"><input type="text" id="placeAutocomplete" [(ngModel)]="placeFilter" (input)="placeChanged($event.target.value)" placeholder="Vieta"></li>
        <li class="filter-element">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
    {{getPlaceTypeName()}}
    <span class="caret"></span>
  </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li (click)="setPlaceType(null)">Tipas</li>
                    <li role="separator" class="divider"></li>
                    <li (click)="setPlaceType(1)">Restoranas</li>
                    <li (click)="setPlaceType(2)">Kavinė</li>
                    <li (click)="setPlaceType(3)">Baras</li>
                    <li (click)="setPlaceType(4)">Kepyklėlė</li>
                    <li (click)="setPlaceType(5)">Į namus</li>
                    <li (click)="setPlaceType(6)">Išsinešimui</li>
                    <li (click)="setPlaceType(7)">Naktinis klubas</li>
                </ul>
            </div>
        </li>
        <li class="filter-element">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
    {{getRatingDisplayName()}}
    <span class="caret"></span>
  </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li (click)="setRating(0)">0</li>
                    <li (click)="setRating(1)">1</li>
                    <li (click)="setRating(2)">2</li>
                    <li (click)="setRating(3)">3</li>
                    <li (click)="setRating(4)">4</li>
                    <li (click)="setRating(5)">5</li>
                </ul>
            </div>
        </li>
    </ul>
</nav>

<div class="row">
    <div *ngFor="let placeReview of filteredPlaceReviewList" class="col-xs-6 col-sm-4 col-md-3 col-lg-3" [routerLink]="['/placeReviews', placeReview.placeId]">
        <div style="min-height: 230px;" class="thumbnail">
            <img class="dish-search-image" src="{{placeReview.imageUri}}" alt="">
            <div class="caption">
                <h4><a href="#">{{placeReview.placeName}}</a>
                </h4>
            </div>
            <div class="ratings">
                <p class="pull-right">Apžvalgų: {{placeReview.reviewCount}}</p>
                <comp-star [rating]="placeReview.ratingAverage"></comp-star>
            </div>
        </div>
    </div>
</div>