<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="row">
            <h3>{{dishName}}</h3>
        </div>
        <div *ngFor="let dishReview of dishReviews" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="thumbnail">
                <span *ngIf="isAdmin" style="position: absolute" class="glyphicon glyphicon-remove" aria-hidden="true" (click)="removeDishReview(dishReview.id)"></span>
                <img class="dish-search-image" src="{{dishReview.imageUri}}" alt="">
                <div class="caption">
                    <h4>Apžvelgė - {{dishReview.reviewedBy}}</h4>
                    <div class="ratings">

                        <comp-star [rating]="dishReview.rating"></comp-star>
                    </div>
                    <p>{{dishReview.review}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="row"><b><h3>{{gdetails?.name}}</h3></b></div>
        <div class="row">{{gdetails?.vicinity}}</div>
        <div class="row">{{gdetails.international_phone_number}}</div>
        <div class="row"><a [href]="gdetails.website" target="_blank">{{formatWebsite(gdetails.website)}}</a></div>
        <br>
        <div *ngIf="gdetails.opening_hours">
            <comp-work-hours [openingHours]="gdetails.opening_hours"></comp-work-hours>
        </div>
        <br>
        <div class="row">
            <sebm-google-map [latitude]="lat" [longitude]="lng">
                <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
            </sebm-google-map>
        </div>
    </div>
</div>