<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div *ngFor="let dishReview of dishReviews" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="thumbnail">
                <img class="dish-search-image" src="{{dishReview.imageUri}}" alt="">
                <div class="caption">
                    <h4><a href="#">Apžvelgė - {{dishReview.reviewedBy}}</a>
                    </h4>
                    <div class="ratings">
                        
                <comp-star [rating]="dishReview.rating"></comp-star>
                    </div>
                    <p>{{dishReview.review}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <sebm-google-map [latitude]="lat" [longitude]="lng">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>
    </div>
</div>