<nav class="row">
    <ul class="filter-container nav navbar-nav">
        <li class="filter-element"><input type="text" placeholder="Patiekalas"></li>
        <li class="filter-element"><input type="text" placeholder="Vieta"></li>
        <li class="filter-element"><input type="text" placeholder="Žymės"></li>
        <li class="filter-element">Vegetariškas <input type="checkbox"></li>
        <li class="filter-element"> 
            <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
    Reitingas
    <span class="caret"></span>
  </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                </div>
        </li>
    </ul>
</nav>

<div class="row">
    <div *ngFor="let dishReview of filteredDishReviewList" class="col-xs-6 col-sm-4 col-md-3 col-lg-3" [routerLink]="['/dishReviews', dishReview.dishId, dishReview.placeId]">
        <div class="thumbnail">
            <img class="dish-search-image" src="{{dishReview.imageUri}}" alt="">
            <div class="caption">
                <h4><a href="#">{{dishReview.dishName}}</a>
                </h4>
                <p><span class="glyphicon glyphicon-map-marker"></span>{{dishReview.placeName}}</p>
            </div>
            <div class="ratings">
                <p class="pull-right">Apžvalgų: {{dishReview.reviewCount}}</p>
                <comp-star [rating]="dishReview.ratingAverage"></comp-star>
            </div>
        </div>
    </div>
</div>