<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <label>Žymė:</label>
        <input [(ngModel)]='name' class="form-control">
        <label>Validi:</label>
        <input [ngModel]='isValid' class="form-control">
    </div>
    <div class="panel-footer">
        <input type="button" value="Išsaugoti" class="btn" (click)='onSave()'>
        <input type="button" value="Atgal" class="btn" (click)='onBackClicked()'>
    </div>
</div>