<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-3">
                <label>Žymė</label>
            </div>
            <div class="col-md-3 col-xs-9">
                <input [(ngModel)]='name' class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-3">
                <label>Aktyvi</label>
            </div>
            <div class="col-md-3 col-xs-9">
                <input type="checkbox" [checked]="isValid" (change)="isValid = !isValid" />
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" value="Išsaugoti" class="btn" (click)='onSave()'>
        <input type="button" value="Atgal" class="btn" (click)='onBackClicked()'>
    </div>
</div>