<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body">
        <button type="button" class="btn btn-default btn-sm" [routerLink]="['/dish', 0]">
          <span class="glyphicon glyphicon-plus"></span> Pridėti
        </button>
        <div class='table-responsive btnz-grid'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Pavadinimas</th>
                        <th>Patvirtintas</th>
                        <th>Validus</th>  
                        <th>Sukuręs vartotojas</th>
                        <th>Sukūrimo data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let dish of dishList' [routerLink]="['/dish', dish.id]" [class]="getTableRowClass(dish)">
                        <td>{{dish.name}}</td>
                        <td><input disabled type="checkbox" [checked]="dish.isConfirmed" /></td>
                        <td><input disabled type="checkbox" [checked]="dish.isValid" /></td>
                        <td>{{dish.createdByUser}}</td>
                        <td>{{dish.createdDateTime | date: 'yyyy-MM-dd'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>