<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div *ngFor="let placeReview of placeReviews" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="thumbnail">
                <span style="position: absolute" class="glyphicon glyphicon-remove" aria-hidden="true" (click)="removePlaceReview(placeReview.id)"></span>
                <img class="dish-search-image" src="{{placeReview.imageUri}}" alt="">
                <div class="caption">
                    <h4>Apžvelgė - {{placeReview.reviewedBy}}</h4>
                    <div class="ratings">
                        <comp-star [rating]="placeReview.rating"></comp-star>
                    </div>
                    <p>{{placeReview.review}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="row"><b><h3>{{gdetails?.name}}</h3></b></div>
        <div class="row">{{gdetails?.vicinity}}</div>
        <div class="row">{{gdetails.international_phone_number}}</div>
        <div class="row"><a href="http://www.facebook.com/grilllondon" target="_blank">{{formatWebsite(gdetails.website)}}</a></div>
        <br>
        <div *ngIf="gdetails.opening_hours">
            <comp-work-hours [openingHours]="gdetails.opening_hours"></comp-work-hours>
        </div>
        <br>
        <div class="row">
            <sebm-google-map [latitude]="lat" [longitude]="lng">
                <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
            </sebm-google-map>
        </div>
    </div>
</div>