<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div *ngFor="let placeReview of placeReviews" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="thumbnail">
                <img class="dish-search-image" src="{{placeReview.imageUri}}" alt="">
                <div class="caption">
                    <h4><a href="#">Apžvelgė - {{placeReview.reviewedBy}}</a>
                    </h4>
                    <div class="ratings">
                        
                <comp-star [rating]="placeReview.rating"></comp-star>
                    </div>
                    <p>{{placeReview.review}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="row"><b><h3>Grll London</h3></b></div>
        <div class="row">K. Baršausko gatvė 66A, Kaunas</div>
        <div class="row">+370 604 00024</div>
        <div class="row"><a href="http://www.facebook.com/grilllondon" target="_blank">www.facebook.com/grilllondon</a></div>
        <br>
        <div class="row"><b>Darbo laikas</b></div>
        <div class="row">
            <div class=col-xs-4>Pirmadienis</div>
            <div class=col-xs-8>10:00 - 22:00</div>
        </div>
        <div class="row">
            <div class=col-xs-4>Antradienis</div>
            <div class=col-xs-8>10:00 - 22:00</div>
        </div>
        <div class="row">
            <div class=col-xs-4>Trečiadienis</div>
            <div class=col-xs-8>10:00 - 22:00</div>
        </div>
        <div class="row">
            <div class=col-xs-4>Ketvirtadienis</div>
            <div class=col-xs-8>10:00 - 22:00</div>
        </div>
        <div class="row">
            <div class=col-xs-4>Penktadienis</div>
            <div class=col-xs-8>10:00 - 22:00</div>
        </div>
        <div class="row">
            <div class=col-xs-4>Šeštadienis</div>
            <div class=col-xs-8>10:00 - 22:00</div>
        </div>
        <div class="row">
            <div class=col-xs-4>Sekdmadienis</div>
            <div class=col-xs-8>10:00 - 22:00</div>
        </div>
        <br>
        <div class="row">
            <sebm-google-map [latitude]="lat" [longitude]="lng">
                <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
            </sebm-google-map>
        </div>
    </div>
</div>