<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body">
        <input [routerLink]="['/tag', 0]" type="button" value="Pridėti" class="btn">
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Created By User</th>
                        <th>Created Date</th>
                        <th>Is Valid</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let tag of tagList'>
                        <td>{{tag.id}}</td>
                        <td>
                            <a [routerLink]="['/tag', tag.id]">{{tag.name}}</a>
                        </td>
                        <td>{{tag.createdByUser}}</td>
                        <td>{{tag.createdDateTime | date:shortDate}}</td>
                        <td>{{tag.isValid}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>