<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body">
        <button type="button" class="btn btn-default btn-sm" [routerLink]="['/dish', 0]">
          <span class="glyphicon glyphicon-plus"></span> Pridėti
        </button>
        <div class='table-responsive btnz-grid'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Pavadinimas</th>
                        <th>Aktyvi</th>
                        <th>Sukūręs vartotojas</th>
                        <th>Sukūrimo data</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let tag of tagList' [routerLink]="['/tag', tag.id]">
                        <td>
                            {{tag.name}}
                        </td>
                        <td><input disabled type="checkbox" [checked]="tag.isValid" /></td>
                        <td>{{tag.createdByUser}}</td>
                        <td>{{tag.createdDateTime | date: 'yyyy-MM-dd'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>