<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body">
        <div class='table-responsive btnz-grid'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Vartotojas</th>
                        <th>El. Paštas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let user of userList' [routerLink]="['/user', user.id]">
                        
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>