/*$btnzBlack: #2F2D2C;
$btnzGrey: #DED8D3;
$btnzRed: #F76863;
$btnzGreen: #6DB18D;*/

body {
    background-color: #DED8D3;
}

li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
}

.btnz-grid tbody tr:hover {
    background-color: #e6e6e6 !important;
    cursor: pointer;
}

.dish-search-image {
    max-height: 250px;
}

.btnz-grid tbody tr .notConfirmed {
    background-color: #f0ad4e;
}

.dropdown li:hover {
    cursor: pointer;
    background-color: #6DB18D;
}

.sebm-google-map-container {
  height: 200px;
}

.divider {
    margin-top: 75px;
}

.filter-element {
    margin-right: 10px;
}

.filter-container {
    margin-bottom: 20px;
}

/*Bootstrap  override*/

.btn-success {
    margin: 2px;
    border-color: #6DB18D;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #6DB18D;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-default:hover {
    background-color: #6DB18D;
    border-color: #6DB18D;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.panel-primary {
    border-color: #6DB18D;
}

.panel-primary > .panel-heading{
    background-color: #6DB18D;
    border-color: #6DB18D;
}

.navbar-inverse {
    background-color: #d9534f;
    border-color: #d9534f;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #9d9d9d;
}